---
layout: page
title: Portfolio
author: Shawn Tabrizi
permalink: /portfolio/
---

<div class="container-fluid">
    {% assign public_repositories = site.github.public_repositories | where:'fork', false | sort: 'stargazers_count' | reverse %}
    <div class="row">
        {% for repository in public_repositories %}
        <!-- Project Card -->
        <div class="col-xl-4 col-md-6 d-flex align-items-stretch">
            <div class="card portfolio-card">
                <img class="card-img-top" src="{{ repository.html_url }}/blob/master/screenshot.png?raw=true"
                    alt="{{ repository.name }} Screenshot"
                    onerror="this.onerror=null;this.src='/assets/images/default-project-image.png';" />
                <div class="card-body">
                    <div class="row">
                        <div class="col-4 text-center">
                            <div
                                class="btn btn-sm float-right nohover portfolio-tag-{{ repository.language | downcase }}">
                                {{ repository.language }}</div>
                        </div>
                        <div class="col-4">
                            <p class="text-center">&#9733; {{ repository.stargazers_count }}</p>
                        </div>
                        <div class="col-4">
                            <p class="text-center">&#9282; {{ repository.forks_count }}</p>
                        </div>
                    </div>
                    <h3 class="card-title">
                        {{ repository.name | upcase | replace:'-', ' ' }}
                    </h3>
                    <p class="card-text">{{ repository.description }}</p>
                </div>
                <div class="card-footer">
                    {% if repository.homepage %}
                    <a href="{{ repository.homepage }}" class="btn btn-primary" target="_blank">Try it
                        out!</a>
                    {% endif %}
                    {% for post in site.posts %}
                    {% if post.github == repository.name %}
                    <a href="{{ post.url }}" class="btn btn-info" target="_blank">Blog
                        Post
                    </a>
                    {% endif %}
                    {% endfor %}
                    <a href="{{ repository.html_url }}" class="btn btn-secondary" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% assign forked_repositories = site.github.public_repositories | where:'fork', true | sort: 'pushed_at' | reverse %}
    <h1>Contributing To:</h1>
    <div class="row">
        {% for repository in forked_repositories %}
        <!-- Contributor Card -->
        <div class="col-xl-4 col-md-6 d-flex align-items-stretch">
            <div class="card portfolio-card w-100">
                <div class="card-body">
                    <h3 class="card-title">
                        {{ repository.name | upcase | replace:'-', ' ' }}
                    </h3>
                    <p class="card-text">{{ repository.description }}</p>
                </div>
                <div class="card-footer">
                    <a href="{{ repository.html_url }}" class="btn btn-secondary" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
