<footer>
  <p>
    <a href="https://github.com/shawntabrizi/" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-github fa-stack-1x fa-inverse"></i>
    </a>
    <a href="https://www.linkedin.com/in/shawn-tabrizi/" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
    </a>
    <a href="https://twitter.com/shawntabrizi" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
    </a>
    <a href="https://stackexchange.com/users/1489538/shawn-tabrizi" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-stack-exchange fa-stack-1x fa-inverse"></i>
    </a>
    <a href="https://www.instagram.com/shawntabrizi/" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCl2YcZijUhWJweYeiOIYNdA" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
    </a>
    <a href="mailto:shawntabrizi@gmail.com" class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
    </a>
  </p>
  <span>
    &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}
  </span>
</footer>
