---
import Base from "../layouts/Base.astro";
---

<Base>
  <div class="flex flex-col md:flex-row gap-8 items-start">
    <img
      src="/assets/images/DSC013041.jpg"
      alt="Shawn Tabrizi"
      class="w-48 h-48 rounded-full object-cover shrink-0"
    />
    <div class="prose">
      <h1>Shawn Tabrizi</h1>
      <p>
        My name is Shawn Tabrizi and I am a full-time engineer living in Puerto
        Rico.
      </p>
      <p>
        I was born and raised in the heart of the bay area, a breeding pool of
        technology and innovation. I first started programming at the age of 13,
        trying to learn how to hack my PlayStation Portable so that I could play
        free games. Through the PSP hacking community, I learned about the vast
        potential surrounding computers, programming, and the internet.
      </p>
      <p>
        I graduated from the
        <a href="https://ccs.ucsb.edu/">College of Creative Studies</a> at the
        University of California, Santa Barbara studying Physics and
        Mathematics.
      </p>
      <p>
        I joined Microsoft less than a month later to work on Microsoft Azure,
        their cloud computing services.
      </p>
      <p>
        I then contributed to <a href="https://polkadot.network/">Polkadot</a> as
        a Lead Developer at Parity Technologies, working on blockchain
        infrastructure and the future of the decentralized web.
      </p>
      <p>
        I now work independently as a
        <a href="https://github.com/polkadot-fellows">Polkadot Fellow</a>,
        contributing to and creating open source software.
      </p>
      <p>
        I am always interested in new adventures, so please feel free to use any
        of the social links below to contact me.
      </p>
    </div>
  </div>
</Base>
