---
layout: default
---

<div class="row">
  <div class="col-md-9">
    <div class="post">
      <div class="post-info">
        <span>Written by</span>
        {% if page.author %}
        {{ page.author }}
        {% else %}
        {{ site.author.name }}
        {% endif %}

        {% if page.date %}
        <br>
        <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
        {% endif %}
      </div>

      <h1 class="post-title">{{ page.title }}</h1>
      <div class="post-line"></div>

      {{ content }}

    </div>

    {% for category in page.categories %}
    {% assign moreThanOneInCategory = false %}
    {% assign posts = site.categories[category] %}

    {% for post in posts %}
    {% if forloop.length > 1 %}
    {% assign moreThanOneInCategory = true %}
    {% endif %}
    {% endfor %}

    {% if moreThanOneInCategory == true %}
    <div class="related-posts">
      <h3>Other posts about “{{ category }}”</h3>

      <ul>
        {% for post in posts %}
        {% unless post.url == page.url %}
        <li>
          <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>

          Published on <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
        </li>
        {% endunless %}
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor %}

    <div class="pagination">
      {% if page.next.url %}
      <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
      {% endif %}
      {% if page.previous.url %}
      <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
      {% endif %}

      <a href="#" class="top">Top</a>
    </div>
  </div>
  <div class="col-md-3">
      {% for category in page.categories %}
      <p>{{ category }}</p>
      {% endfor %}
  </div>
</div>